/* Reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

form {
    padding:25px 0;

    border-bottom: 1px solid #ddd;
}

body {
    padding-top:20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    overflow-x: auto; /* Add horizontal scrolling if needed */
  }
  
  table {
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%; /* Ensure table doesn't exceed container width */
  }
  

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Heading styles */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00274c; /* Navy Blue */
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00274c; /* Navy Blue */
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00274c; /* Navy Blue */
}

/* Link styles */
a {
    color: #c8102e; /* Red */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/** Zebra striping **/
tr:nth-of-type(odd) {
    background: #eee;
}

/** Hover effect **/
tr:hover {
    /** highlight row on hover pastel yellow color **/
    background: lightgoldenrodyellow;
}

/** hide the netid, emplid, tt_ntt */

.netid, .emplid, .tt-ntt {
    display: none;
}
