/* Reset default browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    overflow-y: scroll;
}

button, .dropdown a {
   font-family: 'Courier New', Courier, monospace!important;
   border-radius: 0!important;
}


/** th needs to support full width **/
th {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    background-color: hsl(209, 100%, 15%)!important; /* Navy Blue */
    color: white;
}

/** td needs to support full width **/
td {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 8px;

}

/** th single line of text, ellipsis overflow **/
th.single-line {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



td {
    color: #00274c; /* Navy Blue */
    font-size:12px;
}


/* Heading styles */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00274c; /* Navy Blue */
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00274c; /* Navy Blue */
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00274c; /* Navy Blue */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/** Zebra striping **/
tr:nth-of-type(odd) {
    background: #eee;
}

/** Hover effect **/
tr:hover {
    /** highlight row on hover pastel yellow color **/
    background: lightgoldenrodyellow;
}

/** when the tr is hovered, underline the .faculty-base-ucannl, .additional-1-month, .additional-2-month2, .admin-supplement, and .full-time-annual-salary 
    columns **/

tr:hover .faculty-base-ucannl, tr:hover .additional-1-month, tr:hover .additional-2-months, tr:hover .admin-supplement, tr:hover .full-time-annual-salary { 
    /** backgorund very pale green **/
    background: hwb(128 42% 0% / 0.089);
}

/** full-time-annual-salary column should be right aligned and little darker **/
tr:hover .full-time-annual-salary {
    background: hwb(128 42% 0% / 0.089);
    font-weight: bold;
}


th, td {
    padding: 8px;
    border: 1px solid #ddd;
    display:none;
}
td:not(.hide), th:not(.hide) {
    display: table-cell;
}

/** the table should scroll horizontally **/
table {
    overflow-x: auto;
    width: 100%;
}

thead {
    position: sticky;
    top:0px;
}

th a {
    color: #eee;
}

th a:hover {
    color: #fff;
}


.bg-provost-blue {
    background-color:rgba(3,53,122,.8);
}