/**
 * Include all Overrides Here
 */
$uconn-blue: #000e2f;
$uconn-red: #b50106;
$provost-blue: #03357A;
$provost-lightblue: #C0DBFF;
$provost-grey: #F0F1F5;

$primary: $provost-blue;
$danger: $uconn-red;
$info: $provost-lightblue;

$secondary: #ccc;
$dark: $provost-grey;

$headings-font-family: "georgiapro", serif;
$font-family-base: "proxima-nova", sans-serif;

$table-hover-bg: #fafad2;
$table-cell-padding-x-sm: 0.75rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-vertical-align: middle;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

main {
    min-height: 80vh;
}

.link-dark {
    color: #000!important;
}

.nav-link {
    color: #000!important;
}

.header-level-two {
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-level-one {
    font-family: "proxima-nova", sans-serif;
    font-size: 30px;
}

.bg-provost-grey {
    background-color: $provost-grey;
}


tr:hover {
    .bg-hover-green {
        --bs-table-bg-state: hwb(128 42% 0% / 0.171)!important;
    }
}

table {
    font-family: monospace;
}

trix-editor {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    background:#ffffff;
    min-height:200px;
}

.dangerHover {
    &:hover {
        background-color: $red!important;
        color: white!important;
    }
}

.hero {
    position: relative;
    background: $provost-grey;
    color: $provost-blue;
    overflow: hidden;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 2rem;
    font-weight: 200;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it’s below the content */
}

.hero .container {
    position: relative;
    z-index: 2; /* Ensure content is above the gradient overlay */
}

trix-toolbar .trix-button-group--file-tools {
    display: none!important;
}

@media print {
    .container {
        max-width: 95%!important;
    }

    .no-print {
        display: none;
    }
}

.poet-line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Space between the sections */
    position: relative;
    margin-top: 20px;
}

.poet-line-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
    z-index: 0;
}

.poet-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; /* To ensure it sits above the line */
    text-align: center;
}

.poet-dot {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 8px; /* Spacing between dot and text */
}

.poet-line span {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
}
