/**
 * Include all Overrides Here
 */
$uconn-blue: #000e2f;
$uconn-red: #b50106;
$provost-blue: #03357a;
$provost-lightblue: #b5d6ef;
$provost-grey: #272727;
$primary: $provost-blue;
$danger: $uconn-red;
$info: $provost-lightblue;
$secondary: #ccc;
$dark: $provost-grey;

$headings-font-family: "georgiapro", serif;
$font-family-base: "proxima-nova", sans-serif;

$table-hover-bg: #fafad2;
$table-cell-padding-x-sm: 0.75rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-vertical-align: middle;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

main {
    min-height: 80vh;
}

.header-level-two {
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-level-one {
    font-family: "proxima-nova", sans-serif;
    font-size: 30px;
}


tr:hover {
    .bg-hover-green {
        --bs-table-bg-state: hwb(128 42% 0% / 0.171)!important;
    }
}

table {
    font-family: monospace;
}

trix-editor {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    background:#ffffff;
    min-height:200px;
}

.dangerHover {
    &:hover {
        background-color: $red!important;
        color: white!important;
    }
}