/**
 * Include all Overrides Here
 */
$uconn-blue: #000e2f;
$uconn-red: #b50106;
$provost-blue: #03357A;
$provost-lightblue: #C0DBFF;
$provost-grey: #F0F1F5;

$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

$inprogress:#6D39c5;
$testing:#318B96;
$ideation:#CF712D;

$primary: $provost-blue;
$danger: $uconn-red;
$info: $provost-lightblue;

$secondary: #ccc;
$dark: $provost-grey;

$headings-font-family: "georgiapro", serif;
$font-family-base: "proxima-nova", sans-serif;

$table-hover-bg: #fafad2;
$table-cell-padding-x-sm: 0.75rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-vertical-align: middle;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

.i3-mark {
    color: $provost-blue;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: $provost-lightblue;
    font-family: 'Courier New', Courier, monospace;
}

.bg-testing {
    background-color: $testing;
}

.bg-ideation {
    background-color: $ideation;
}

.bg-inprogress {
    background-color: $inprogress;
}

.btn-success {
    background-color: $success;
    border-color: $success;
    color:darken($success, 80%);
    font-weight: 600;
}

h2,h3,h4,h5,h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    color: $provost-blue;
}

main {
    min-height: 80vh;
    background-color: $provost-grey;
}

/* Main Section with a Subtle Sweeping Curve */
  
header {
    background-color: #fff;
}

.link-dark {
    color: #000 !important;
}

.link-dark:hover {
    color: $provost-blue !important;
}

.nav-link {
    color: #000 !important;
}

.bg-info {
    color: $provost-blue;
}

.bg-secondary {
    background-color: $provost-grey;
    color:#333;
}

.header-level-two {
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-level-one {
    font-family: "proxima-nova", sans-serif;
    font-size: 30px;
}

.header-level-one a, .header-level-two a {
    color: $uconn-blue;
    text-decoration: none;
}



.bg-provost-grey {
    background-color: $provost-grey;
}


tr:hover {
    .bg-hover-green {
        --bs-table-bg-state: hwb(128 42% 0% / 0.171) !important;
    }
}

table {
    font-family: monospace;
}

trix-editor {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    background: #ffffff;
    min-height: 200px;
}

.dangerHover {
    &:hover {
        background-color: $red !important;
        color: white !important;
    }
}

.hero {
    position: relative;
    background: #fff;
    color: $provost-blue;
    overflow: hidden;
}

abbr {
    text-decoration-style: solid!important;
    text-decoration-color: $provost-lightblue!important;
}

.hero {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 2rem 2rem;
    color: #333;

      h2 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: 200;
        color: #000;
        font-style: italic;
        font-family: 'georgiapro', serif;
      }
}

.badge-inprogress {
    background-color: $inprogress;
    color: white;
}

.badge-testing {
    background-color: $testing;
    color: white;
}

.badge-ideation {
    background-color: $ideation;
    color: white;
}



.content-wrap {
    padding-top:80px!important;

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #ffff;
        clip-path: ellipse(56% 94% at 50% 0);
        z-index: 0;
      }

}


.hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 2rem;
    font-weight: 200;
    color: #000;
}

.content-wrap {
    background-color: $provost-grey;
    padding: 2rem;
    position: relative;
  }

trix-toolbar .trix-button-group--file-tools {
    display: none !important;
}

.question-text {
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    border-left: 4px solid $provost-blue;
    padding-left:10px;
    color: $provost-blue;
    font-style: italic;
}

@media print {
    body {
        padding-top:2rem;
    }
    .container {
        max-width: 100% !important;
    }

    .no-print {
        display: none;
    }

    .print-page {
        margin-top:0px!important;
        page-break-before: always;
        padding-top:10px;
    }

    /* Cover Page Styles */
    .cover-page {
        text-align: center;
        background: #fff;
        color: #000;
        padding: 60px 30px;
    }

    .cover-page .card-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .cover-page .card-text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    /* Section Styles */
    .q-response {
        background-color: #f9f9f9;
        border-top: 4px solid #007bff; /* Highlight sections with a border color */
    }

    .q-response .card-title {
        font-size:18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    .q-response .card-text {
        font-size: 16px;
    }

    /* Question Text (Optional Styling) */
    .q-response p {
        margin-bottom: 15px;
    }    
}

.poet-line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* Space between the sections */
    position: relative;
    margin-top: 40px;
    color:#000;
}

.card-body h3 {
    font-family: 'Proxima Nova', sans-serif;
    font-size:1.2rem;
    font-weight: 700;
    color:$provost-blue;
}

.card-body .material-icons {
    font-size:32px;
}

.card {
    border: 1px solid $provost-blue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.card-footer button {
    background-color: $provost-blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.material-icons {
    color:$provost-blue;
}

.tool-link {
    display: inline-block;
    color: $provost-blue;
    text-decoration: none;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-thickness: 3px;
    text-decoration-color: $provost-lightblue;
    padding-left: 10px;
    padding-right:10px;
}

.tool-link:hover {
    background-color: $provost-lightblue;
    color: $provost-blue;
}

.tool-link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#tools .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#tools .card {
    min-height: 280px;
}

// the tool cards should fly in from alternate sides on page load
#tools div:nth-child(odd) {
    animation: slide-in-left 0.25s ease-out;
}

#tools div:nth-child(even) {
    animation: slide-in-right 0.25s ease-out;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.alert-info {

    color: $provost-blue;
    border: 1px solid $provost-blue;
}

/** print cards should not have border or shadow */
@media print {
    .card {
        border: none;
        box-shadow: none;
    }
}

// .app-nav is a custom class for the subnav inside a particular tool. it's a bootsrap5 nav bar but needs some custom styles likea border
.app-nav {
    border-top: 1px solid $provost-blue;
    border-bottom: 1px solid $provost-blue;
}

.app-nav .nav-link {
    color: $provost-blue;
    font-weight: 600;
}

.app-nav .nav-link.active {
    color: $provost-blue;
    font-weight: 600;
}

.app-nav .nav-link:hover {
    color: $provost-blue;
    font-weight: 600;
}

.app-nav .nav-link.disabled {
    color: $provost-grey;
    font-weight: 600;
}

.app-nav .nav-link.disabled:hover {
    color: $provost-grey;
    font-weight: 600;
}

